
body {
  background-color: #eff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: solid 1px blue;
}
img {
  width: 500px;
}

ul {
  display: inline-block;
}

.post-wrapper {
  border: solid 1px red;
}

nav {
background-color: lightblue;
padding: 0.5em;
}

footer {
  display:block;
  background-color: paleturquoise;
  padding: 1em;
}