<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Test: {{ title }}</title>
  <link rel="stylesheet" href="/css/site.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
<body>
  {{ content | safe }}
</body>
</html>